<div>
  <div class="my-5">
    <a
      [routerLink]="['/new']"
      class="text-white bg-green-700 px-5 py-2 rounded-sm cursor-pointer hover:bg-green-600"
    >
      Add Product
    </a>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-3">
    <div *ngFor="let product of products$ | async" class="shadow-md m-2 p-2">
      <div class="flex flex-col md:flex-row justify-between">
        <h4 class="font-semibold">{{ product.name }}</h4>

        <div class="flex">
          <a
            [routerLink]="'/' + product.id"
            class="text-white bg-blue-700 px-5 py-2 rounded-sm cursor-pointer hover:bg-blue-600 mr-2"
          >
            View
          </a>

          <div
            class="text-white bg-red-700 px-5 py-2 rounded-sm cursor-pointer hover:bg-red-600 ml-2"
            (click)="deleteProduct(product)"
          >
            Delete
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
